* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit";
}

img {
  max-width: 100%;
}

.colors {
  background-color: rgb(229, 230, 231);
}

.titulo {
  text-align: center;
  color: red;
  font-size: 1.9rem;
  font-weight: bold;
  text-shadow: 1px 4px grey;
}

@media (min-width: 1200px) {
  .titulo {
    font-size: 3em;
  }
}
.container {
  max-width: 1000px;
}

.footer {
  background-image: linear-gradient(rgb(201, 201, 201), rgb(29, 24, 24));
  color: white;
  border-top: 2px;
  padding: 1rem;
}
.footer-lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-copy {
  text-align: center;
  margin-top: 1rem;
  border-top: 2px;
  font-size: 0.7rem;
}

.footer-redes ul li a i {
  font-size: 1.2rem;
}

.footer-redes ul li a {
  color: white;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  border-top: 2px;
}

footer-wrapper h4,
footer-wrapper p {
  text-align: center;
}

.footer-wrapper h4 {
  font-size: 1.5 rem;
  text-decoration: underline;
  margin-bottom: 1rem;
  color: black;
}

.logo {
  width: 30vh;
}

.redes2 {
  list-style-type: none;
}

@media (min-width: 1000px) {
  .footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portada {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.portada-titulo {
  color: red;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  text-shadow: 1px 2px black;
  font-size: 1.8rem;
  transition: 1s linear;
}
.portada-descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: justify;
}

.portada-foto:hover {
  transform: rotate(360deg);
  box-shadow: 3px 3px 2px 5px;
}

@media (min-width: 1000px) {
  .portada {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portada-titulo {
    font-size: 4.5rem;
    transition: 1s linear;
    text-shadow: 3px 6px black;
  }
  .portada-descipcion {
    font-size: 0.5rem;
  }
}
.nosotros {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.nosotros-descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  gap: 1rem;
}
.nosotros-cartel {
  justify-content: center;
  transition-duration: 2s;
  transition-property: all;
  transition-timing-function: linear;
}

.nosotros-cartel:hover {
  box-shadow: 3px 3px 2px 5px;
}

@media (min-width: 1000px) {
  .nosotros {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.nos {
  padding: 1rem 1rem 1rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nos-info {
  color: white;
  font-size: 1.4rem;
}
.nos-fotos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1000px) {
  .nos-fotos {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.nos-amarok {
  width: 400px;
  height: 300px;
}

.nos-c4 {
  width: 400px;
  height: 300px;
}

.nos-fluence {
  width: 400px;
  height: 300px;
}

.nos-208 {
  width: 400px;
  height: 300px;
}

@media (min-width: 1000px) {
  .nos-amarok {
    width: 450px;
    height: 350px;
  }
  .nos-amarok:hover {
    transform: scale(1.08);
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: ease;
  }
  .nos-c4 {
    width: 450px;
    height: 340px;
  }
  .nos-c4:hover {
    transform: scale(1.08);
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: ease;
  }
  .nos-fluence {
    width: 450px;
    height: 350px;
  }
  .nos-fluence:hover {
    transform: scale(1.08);
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: ease;
  }
  .nos-208 {
    width: 450px;
    height: 350px;
  }
  .nos-208:hover {
    transform: scale(1.08);
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: ease;
  }
}
.servicios {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 1rem;
  font-size: 1rem;
}
.servicios-subtitulo {
  font-size: 1.5em;
  color: white;
  background-image: linear-gradient(70deg, rgb(173, 172, 172), rgb(53, 52, 52), rgb(173, 172, 172));
  text-align: center;
}
.servicios-lista {
  text-align: center;
  list-style-type: none;
  word-spacing: 4px;
}

@media (min-width: 1000px) {
  .servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  .servicios-subtitulo {
    font-size: 2em;
    margin: 2px;
  }
}
.imagenes {
  padding: 1rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.imagenes-servicios {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.elevador {
  padding: 1rem;
}

.reparar {
  padding: 1rem;
}

@media (min-width: 1000px) {
  .imagenes-servicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .elevador {
    padding: 1rem;
  }
  .elevador:hover {
    transform: scale(1.08);
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: ease;
  }
  .reparar {
    padding: 1rem;
  }
  .reparar:hover {
    transform: scale(1.08);
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: ease;
  }
}
.ubicacion {
  display: flex;
  text-align: start;
  justify-content: space-evenly;
  gap: 1.5rem;
  padding: 1rem;
}
.ubicacion-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1rem;
}
.ubicacion-mapa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
  gap: 1rem;
}
@media (min-width: 1000px) {
  .ubicacion .ubicacion {
    display: flex;
    text-align: start;
    justify-content: space-evenly;
    gap: 1.5rem;
    padding: 1rem;
  }
  .ubicacion .ubicacion-info {
    font-size: 1.3rem;
  }
}
.ubicacion .mapa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  width: 10rem;
  height: 10rem;
}
@media (min-width: 1000px) {
  .ubicacion .mapa {
    width: 20rem;
    height: 20rem;
  }
}

.formulario {
  font-size: 1em;
  padding-left: 1rem;
}
.formulario-lista {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formulario-imagen {
  display: none;
  gap: 1.5rem;
}

@media (min-width: 1000px) {
  .formulario {
    font-size: 1.5rem;
  }
  .formulario-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .formulario-imagen {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 1rem 1rem;
    background-image: linear-gradient(45deg, rgb(34, 33, 33), rgb(163, 161, 161), rgb(34, 33, 33));
  }
}
.martin {
  width: 400px;
  height: 500px;
}

.taller {
  width: 400px;
  height: 500px;
}

/*# sourceMappingURL=styles.css.map */
