* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit";
}

img {
  max-width: 100%;
}

.colors {
  background-color: rgb(229, 230, 231);
}

.titulo {
  text-align: center;
  color: red;
  font-size: 1.9rem;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .titulo {
    font-size: 3em;
  }
}
.container {
  max-width: 1000px;
}

.footer {
  border-top: solid 2px;
  margin: 2px;
  padding: 2px;
}

@media (min-width: 1200px) {
  .footer {
    margin: 1px;
  }
}


.portada {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.portada-titulo {
  color: red;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 1s linear;
}
.portada-foto {
  width: 100vh;
  height: 50vh;
}
.portada-descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: justify;
}

.portada-foto:hover {
  transform: rotate(360deg);
  box-shadow: 3px 3px 2px 5px;
}

@media (min-width: 1200px) {
  .portada {
    flex-direction: row;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portada-titulo {
    font-size: 4.5rem;
  }
  .portada-descipcion {
    font-size: 0.5rem;
  }
  .portada-foto {
    width: 120vh;
    height: 50vh;
  }
  .portada-foto:hover {
    transform: rotate(360deg);
    box-shadow: 5px 5px 4px 7px;
  }
}
.nosotros {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.nosotros-descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  gap: 1rem;
}
.nosotros-cartel {
  height: 50vh;
  width: 140vh;
  justify-content: center;
  transition-duration: 2s;
  transition-delay: 0s;
  transition-property: all;
  transition-timing-function: ease;
}

@media (min-width: 1200px) {
  .nosotros {
    flex-direction: row;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nosotros-cartel {
    height: 60vh;
    width: 170h;
  }
}
.nos {
  padding: 1rem 1rem 1rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nos-info {
  color: white;
}
.nos-fotos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1200px) {
  .nos-fotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.servicios {
  text-align: start;
  display: inline-block;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
}
.servicios-subtitulo {
  font-size: 1.5em;
  color: white;
  background-image: linear-gradient(70deg, rgb(173, 172, 172), rgb(53, 52, 52), rgb(173, 172, 172));
  text-align: center;
}
.servicios-lista {
  text-align: center;
  list-style-type: none;
}

@media (min-width: 1200px) {
  .servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .servicios-subtitulo {
    font-size: 2em;
  }
}
.imagenes {
  padding: 1rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.imagenes-servicios {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.elevador {
  width: 400px;
  height: 200px;
  padding: 1rem;
}

.reparar {
  width: 500px;
  height: 200px;
  padding: 1rem;
}

@media (min-width: 1200px) {
  .imgagenes-servicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .elevador {
    width: 700px;
    height: 400px;
    padding: 1rem;
  }
  .reparar {
    width: 700px;
    height: 400px;
    padding: 1rem;
  }
}
.ubicacion {
  text-align: start;
  display: inline-block;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ubicacion-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ubicacion-mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  gap: 1rem;
}

@media (min-width: 1200px) {
  .ubicacion-mapa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.formulario {
  font-size: 1em;
  padding-left: 1rem;
}
.formulario-lista {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1200px) {
  .formulario {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .formulario-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
