.nosotros {
    @include descrip;
    text-shadow: 2px 4px 8px white;
    color: $color-texto;

    &-descripcion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        gap: 1rem;
    }

    &-cartel {
        justify-content: center;
        object-fit: cover;
    }
}

@include mq-lg {
    .nosotros {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

//imagenes de galeria

.nos {
    padding: 1rem 1rem 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-info {
        color: white;
        font-size: 1.4rem;
    }

    &-fotos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@include mq-lg {
    .nos-fotos {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.nos-amarok {
    width: 400px;
    height: 300px;
}

.nos-c4 {
    width: 400px;
    height: 300px;
}

.nos-fluence {
    width: 400px;
    height: 300px;
}

.nos-208 {
    width: 400px;
    height: 300px;
}

@include mq-lg {

    .nos-amarok {
        width: 450px;
        height: 350px;
    }

    .nos-amarok:hover {
        @include anima
    }

    .nos-c4 {
        width: 450px;
        height: 340px;
    }

    .nos-c4:hover {
        @include anima;
    }

    .nos-fluence {
        width: 450px;
        height: 350px;
    }

    .nos-fluence:hover {
        @include anima;
    }

    .nos-208 {
        width: 450px;
        height: 350px;
    }

    .nos-208:hover {
        @include anima;
    }
}