.servicios {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1rem;
    font-size: 1rem;


    &-subtitulo {
        font-size: 1.5em;
        color: white;
        background-image: linear-gradient(70deg, rgb(173, 172, 172), rgb(53, 52, 52), rgb(173, 172, 172));
        text-align: center;
    }

    &-lista {
        text-align: center;
        list-style-type: none;
        word-spacing: 4px;
        text-shadow: 2px 3px 8px white;
    }
}

@include mq-lg {
    .servicios {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        padding: 1rem 1rem 1rem 1rem;

        &-subtitulo {
            font-size: 2em;
            margin: 2px;
        }
    }
}

// IMAGENES

.imagenes {
    padding: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    gap: 2rem;

    &-servicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin-bottom: 1rem;
    }
}

.elevador {
    padding: 1rem;
}

.reparar {
    padding: 1rem;
}

@include mq-lg {
    .imagenes-servicio {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }
}

@include mq-lg {

    .elevador:hover {
        @include anima;
    }

    .reparar:hover {
        @include anima;
    }
}