.ubicacion {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-evenly;
    gap: 1.5rem;
    padding: 1rem;
    color: black;
    text-shadow: 2px 3px 8px white;

    &-info {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        font-size: 1rem;
    }

    &-mapa {
        display: flex;
        // flex-direction: column;
        justify-content: space-around;
        text-align: start;
        gap: 1rem;
    }

    @include mq-lg {
        .ubicacion {
            display: flex;
            text-align: start;
            flex-direction: row;
            justify-content: space-between;
            gap: 1.5rem;
            padding: .8rem;
        }

        .ubicacion-info {
            font-size: 1.3rem;
        }
    }

    .mapa {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1.5rem;
        width: 10rem;
        height: 10rem;
    }

    @include mq-lg {
        .mapa {
            width: 20rem;
            height: 20rem;
        }
    }
}