.footer {
    background-image: linear-gradient(rgb(201, 201, 201), rgb(29, 24, 24));
    color: white;
    border-top: 2px;
    padding: 1rem;
    font-size: 12px;

    &-lista {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .1rem;
    }

    &-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-copy {
        text-align: center;
        margin-top: 1rem;
        border-top: 2px;
        font-size: .7rem;
    }

}

.footer-redes ul li a i {
    font-size: 1.2rem;
}

.footer-redes ul li a {
    color: white;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    border-top: 2px;
}

footer-wrapper h4,
footer-wrapper p {
    text-align: center;
}

.footer-wrapper h4 {
    font-size: 1.5 rem;
    text-decoration: underline;
    margin-bottom: 1rem;
    color: black
}

.logo {
    width: 170px;
}

.redes2 {
    list-style-type: none;
}

@include mq-lg {
    .footer-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
}